block content
  h1 Impressum
  p Angaben gemäß § 5 TMG:

  ul
    li
      strong Name: 
      | Max Mustermann
    li
      strong Adresse: 
      | Musterstraße 123, 12345 Musterstadt
    li
      strong Telefon: 
      | +49 (0)123 456789
    li
      strong E-Mail: 
      | max@mustermann.de
    li
      strong Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV: 
      | Max Mustermann (Privatperson)

  h2 Haftungsausschluss

  h3 Haftung für Inhalte
  p
    | Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.

  h3 Haftung für Links
  p
    | Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.

  h2 Urheberrecht
  p
    | Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.

  h2 Webseite
  p
    | Diese Webseite: 
    a(href="/") https://epischer-blok.de
