extends ../layouts/full-html.pug

block content 
        form
            input(name="username", type="text")
            input(name="password", type="password")
            input(name="lucky", type="number", value="7", min="1", max="10")
            input(name="serverzeit", type="servertime")
            input(type="submit")
        ol 
            each indxFruit in fruits
                +fruitElement(indxFruit)
            